.fileObjectContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;

  .fileObjectButtons {
    display: flex;

    .fileObjectButton {
      margin-right: 10px;
    }
  }

  .fileObject {
    min-height: 350px;
  }
}
