*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

$dark-blue: rgba(7, 44, 77, 1);
$dark-grey: rgba(34, 34, 34, 1);

body {
  width: 100%;
  min-height: 100vh;
  background: rgb(34, 34, 34);
  background: linear-gradient(180deg, $dark-grey 0%, $dark-blue 100%);
  overflow: hidden;
}

@import "./login.module.scss";

@import "./vault.module.scss";

@import "./alert.module.scss";

@import "./vaultNav.module.scss";

@import "./awsObject.module.scss";

@import "./uploadFile.module.scss";

@import "./fileView.module.scss";
