.vault_main_nav {
  display: flex;
  width: 100%;
  min-height: 80px;
  border-bottom: 1px solid lightgrey;
  padding: 15px;
  align-items: center;
  flex-direction: column;

  .vault_nav {
    display: flex;
    width: 100%;
    align-items: center;
    height: 50px;
  }

  .vault_nav_icon {
    color: grey;
    margin: 0px 5px;
    cursor: pointer;
  }

  .upload_button {
    min-width: 120px;
    height: 100%;
  }

  .breadcrumb_container {
    width: 100%;
    margin: 0px 10px;
    height: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    display: inline;
    border-radius: 5px;

    .breadcrumb {
      border-radius: 5px;
    }

    @media (max-width: 800px) {
      .breadcrumb {
        min-width: 500px;
      }
    }

    li {
      display: inline;
    }
  }

  .breadcrumb_container::-webkit-scrollbar {
    height: 0px;
  }
}
